.adv-separator {
    position: absolute;
    top: 0;
    left: 50%;
    width: 1200px;
    height: 200px;
    transform: translate(-50%, -50%);
    color: white;
    border-radius: 1rem;
    background-color: var(--color-primary);

    filter: drop-shadow(0px 4px 30px rgba(159, 159, 159, 0.3));

    overflow: hidden;
    z-index: 1;
}

.adv-bg {
    position: absolute;
    top: 0;
    left: 0;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 834px;
    z-index: -1;
}

.adv-bg:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    opacity: .4;
    z-index: -1;
}

.adv-texts {
    /*padding: 3rem 2.75rem; !* 48px 44px*!*/
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-left: 3rem;
    z-index: 1;
}

.adv-head {
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    text-transform: uppercase;
}

.adv-primary-title {
    font-weight: 700;
    font-size: 40px;
    line-height: 47px;
}

.adv-tags {
    margin-top: 12px;
    display: flex;
}

.adv-tag {
    padding: 0.5rem 0.75rem; /* 8px 12px */
    margin-right: 1rem; /* 16px */
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 0.25rem;
    font-family: "PingFang SC", "PingFang TC", sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 16px;
}

.adv-dartboard {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateX(-33.3%) translateY(-50%);
    z-index: 1;
}

@media screen and (max-width: 768px) {
    .adv-separator {
        top: 0;
        left: 50%;
        /*width: 100vw;*/
        width: var(--max-mobile-width);
        height: 350px;
        transform-origin: top left;
    }
    .adv-bg {
        left: -10%;
    }
    .adv-bg:before {
        background-repeat: no-repeat;
        background-position-y: 100%;
    }
    .adv-texts {
        margin-left: 2rem;
    }
    .adv-tags {
        flex-direction: column;
    }
    .adv-tag {
        margin-bottom: 1rem;
    }
    .adv-dartboard {
        display: none;
    }
}