:root{
    --side-menu-btn-size: 80px;
    --language-list-height: 0;
    --mobile-header-link-height: calc(16 + 18 * 2)px;
    --margin-left-per-level: 22px
}

.header-container__mobile {
    position: fixed;
    /*height: 6rem; !* 96px *!*/
    top: 0;
    margin: 0 auto;
    display: flex;
    width: 100vw;
    justify-content: center;
    align-items: center;

    pointer-events: none;
    z-index: 1000;
}

.logo-text-primary {
    /*margin-left: 1em;*/
}

.swiper-wrapper {
    position: relative;
    z-index: 1;
}

#swiper-header {
    width: 100%;
    /*height: 100%;*/
    height: 100%;
    overflow-x: hidden;
    touch-action: none;
}

#swiper-header .swiper-slide {
    text-align: left;
    font-size: 18px;

    /* Center slide text vertically */
    /*display: flex;*/
    -webkit-box-pack: center;
    /*justify-content: center;*/
    /*align-items: center;*/
}

#header-menu {
    position: relative;
    /*width: 70%;*/
    width: calc(100vw - var(--side-menu-btn-size));
    min-width: 100px;
    max-width: 500px;
    height: 100vh;

    padding: 0 24px;
    /*padding-top: 80px;*/
    font-size: 16px;
    line-height: 16px;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    /*background-color: var(--color-primary);*/
    /*color: #fff;*/
    background-color: white;

    pointer-events: auto;
    z-index: 1000;
}
#header-menu a {
    width: 100%;
    height: var(--mobile-header-link-height);
    padding: var(--margin-left-per-level) 16px;
    color: var(--color-secondary);
    border-radius: 4px;
    transition: all .15s ease-in-out;
}

#header-menu a:hover {
    background-color: var(--color-primary-light);
    color: var(--color-primary);
}

/*.header-menu__divider {*/
/*    width: 50%;*/
/*    height: 1px;*/
/*    background-color: #FFFFFFAA;*/
/*    margin: 1em 0;*/
/*}*/

#mobile-language-switcher {
    width: 100%;
    /*padding: 22px 16px;*/
    color: var(--color-secondary);
    border-radius: 4px;
    transition: all .15s ease-in-out;
}

#is-language-opened__label {
    padding: var(--margin-left-per-level) 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-radius: 4px;
    cursor: pointer;
    transition: all .15s ease-in-out;
}

#is-language-opened__label:hover,
#is-language-opened__label:focus,
#is-language-opened__label:active {
    background-color: var(--color-primary-light);
    color: var(--color-primary);
}

#is-language-opened__label input[type=checkbox] {
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
}

#is-language-opened__label input[type=checkbox]:checked ~ #is-language-opened__label {
    background-color: var(--color-primary-light);
    color: var(--color-primary);
}

#is-language-opened__icon{
    margin-left: 12px;
    width: 15px;
    height: 9px;
    object-fit: cover;
    transition: all .15s ease-in-out;
}

#is-language-opened__icon path {
    transition: all .15s ease-in-out;
}

#is-language-opened:checked ~ #is-language-opened__icon {
    transform: rotate(180deg);
}

#is-language-opened:checked ~ #is-language-opened__icon path,
#is-language-opened:checked ~ #is-language-opened__icon:hover ~ path {
    stroke: var(--color-primary);
}

.language-list {
    height: var(--language-list-height);
    margin-left: var(--margin-left-per-level);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    overflow: hidden;
    transition: height .15s ease-in-out;
}

.header-content {
    /*position: relative;*/
    height: 80px !important;
    width: 100%;
    background-color: #fff;

    display: flex;
    justify-content: flex-start;
    align-items: center;
}

#inner-logo-wrap {
    margin-bottom: 36px;
}

#outer-logo-wrap {
    position: absolute;
    top: 0;
    left: 0;
    padding: 0 24px;

    /*box-shadow: 4px 14px 23px -10px rgba(0,0,0,0.1);*/
    box-shadow: 0 0 15px rgba(159, 159, 159, 0.15);
    z-index: -1;
}

.header-mask {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background-color: black;
    opacity: 0;
    transition: background-color 0.3s ease, opacity 0.3s ease;
    pointer-events: none;
    z-index: -1;
}

.header-mask__active {
    opacity: .75;
    pointer-events: auto;
}

.side-menu-btn {
    position: absolute;
    top: 0;
    right: 0;
    height: var(--side-menu-btn-size);
    width: var(--side-menu-btn-size);
    padding: 15px;
    cursor: pointer;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    background-color: var(--color-primary);
    /*margin: 14px;
          border-radius: 5px;*/
    pointer-events: auto;
}

.side-menu-btn .bar:nth-of-type(1) {
    margin-top: 7px;
}

.side-menu-btn .bar:nth-of-type(3) {
    margin-bottom: 0;
}

.bar {
    position: relative;
    display: block;

    width: 50px;
    height: 5px;

    margin: 10px auto;
    background-color: #fff;

    border-radius: 10px;

    -webkit-transition: 0.3s;
    transition: 0.3s;
}

.side-menu-btn:hover .bar:nth-of-type(1) {
    -webkit-transform: translateY(1.5px) rotate(-4.5deg);
    -ms-transform: translateY(1.5px) rotate(-4.5deg);
    transform: translateY(1.5px) rotate(-4.5deg);
}

.side-menu-btn:hover .bar:nth-of-type(2) {
    opacity: 0.9;
}

.side-menu-btn:hover .bar:nth-of-type(3) {
    -webkit-transform: translateY(-1.5px) rotate(4.5deg);
    -ms-transform: translateY(-1.5px) rotate(4.5deg);
    transform: translateY(-1.5px) rotate(4.5deg);
}

.cross .bar:nth-of-type(1) {
    -webkit-transform: translateY(15px) rotate(-45deg);
    -ms-transform: translateY(15px) rotate(-45deg);
    transform: translateY(15px) rotate(-45deg);
}

.cross .bar:nth-of-type(2) {
    opacity: 0;
}

.cross .bar:nth-of-type(3) {
    -webkit-transform: translateY(-15px) rotate(45deg);
    -ms-transform: translateY(-15px) rotate(45deg);
    transform: translateY(-15px) rotate(45deg);
}

.cross:hover .bar:nth-of-type(1) {
    -webkit-transform: translateY(13.5px) rotate(-40.5deg);
    -ms-transform: translateY(13.5px) rotate(-40.5deg);
    transform: translateY(13.5px) rotate(-40.5deg);
}

.cross:hover .bar:nth-of-type(2) {
    opacity: 0.1;
}

.cross:hover .bar:nth-of-type(3) {
    -webkit-transform: translateY(-13.5px) rotate(40.5deg);
    -ms-transform: translateY(-13.5px) rotate(40.5deg);
    transform: translateY(-13.5px) rotate(40.5deg);
}