.header-container {
    /*@apply container;*/
    height: 6rem; /* 96px */
    /*max-width: 1200px;*/
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
    /*grid-template-columns: repeat(12, minmax(0, 1fr));*/
    width: 100%;
}

.logo-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    /*grid-column: span 5 / auto;*/
}

.logo-wrap > div {
    margin-left: 1.25rem; /* 20px */;
}

#header-nav-list {
    /*grid-column: span 3 / auto;*/
    width: fit-content;
    height: fit-content;
    margin: auto 0;
    /*display: flex;*/
    /*justify-content: space-around;*/
    /*align-items: center;*/
}

#header-nav-list li {
    position: relative;
    display: inline-block;
    margin: 18px;
}

#header-nav-list a {
    color: var(--color-secondary);
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    transition-property: all;
    transition-duration: 150ms;
}

#header-nav-list a:hover {
    color: var(--color-primary);
}

.current-page {
    color: var(--color-primary) !important;
}

.current-page::after {
    position: absolute;
    left: 0;
    width: 100%;
    height: 0.25rem; /* 4px */;
    bottom: -1rem; /* 16px */
    content: "";
    border-radius: 9999px;
    background-color: var(--color-primary);
}

.language-wrap {
    position: relative;
    display: inline-block;
    width: 200px;
    /*grid-column: span 3 / auto;*/
}

#menu-button {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100%;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
}

.logo-text-primary {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
}

.logo-text-secondary {
    color: var(--color-secondary);
    margin-top: 4px;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
}

#dropdown__language {
    position: absolute;
    width: 14rem; /* 224px */
    right: 0;
    bottom: -7rem; /* 112px */
    margin-top: 0.5rem; /* 8px */
    background-color: white;
    transform-origin: top right;
    border-radius: 0.375rem; /* 6px */
    border: 1px solid #0000001a;
    box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
    transition-property: all;
    transition-duration: 75ms;
    z-index: 10;
}

#dropdown__language:focus {
    outline: none;
}

.menu__hidden {
    display: none;
}

.menu__block {
    display: block;
}

.menu-links {
    padding: 0.75rem 1rem; /* 4px */
}

.menu-link {
    display: block;
    padding: 0.5rem 1rem;
    font-size: 0.875rem; /* 14px */
    line-height: 1.25rem; /* 20px */
    border-radius: 0.25rem; /* 4px */
}

.menu-link, .menu-link:link, .menu-link:visited {
    color: black;
    background-color: transparent;
}

.menu-link:hover, .menu-link:active, .menu-link:focus {
    color: var(--color-primary);
    background-color: var(--color-primary-light);
}

@media screen and (max-width: 1540px) {
    /*.logo-wrap {*/
    /*    grid-column: span 4 / auto;*/
    /*}*/
    /*#header-nav-list {*/
    /*    grid-column: span 4 / auto;*/
    /*}*/
    /*.language-wrap {*/
    /*    grid-column: span 3 / auto;*/
    /*}*/
}
@media screen and (min-width: 1541px) {
    /*.logo-wrap {*/
    /*    grid-column: span 5 / auto;*/
    /*}*/
    /*#header-nav-list {*/
    /*    grid-column: span 5 / auto;*/
    /*}*/
    /*.language-wrap {*/
    /*    grid-column: span 2 / auto;*/
    /*}*/
}